<div class="list-of-players">
<%= f.association :player, collection: Player.send(role).order(minimum_bid: :desc), as: :check_boxes, input_html: { class: 'd-none'},
    wrapper_html: { class: 'player-group d-none' , id: "#{role}-players"},
    label_method: lambda{ |player| "<label class='form-check-label collection_check_boxes' for='bid_player_id_#{player.id}'><div class='card-product'>
  <div class='card-product-infos justify-content-between w-100 align-items-center'>
  <div class='w-40'><h3>#{player.name}</h3></div>
  <div class='w-20'>
  <img class='team-image' src='#{player.pro_team_image_url}' style='height:35px; width:35px; margin-right: 43px; margin-bottom: 9px;'>
  </div>
  <div class='w-20'>
  <h3>#{player.role}</h3></div>
  <div class='w-20'><p>#{player.minimum_bid.round} PI</p></div>

    <button type='button' class='btn btn-primary d-none' data-toggle='modal' data-target='#modal#{role.capitalize}Players'>
    </button>
  </div>
</div>
<div id=#{player.id} data-modal='modal#{role.capitalize}Players'></div>
</label>".html_safe } %>
</div>


<div class="modal fade" id="modal<%= role.capitalize %>Players" tabindex="-1" role="dialog" aria-labelledby="modal<%= role.capitalize %>Players" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-player">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span id="close-cross" aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body p-0">
      </div>
      <div class="modal-footer">
        <div class="form-group decimal optional <%= role %>_bid_points">
          <label class="decimal optional" for="<%= role %>_bid_points"><!-- Minimum Bid: 0000 PI --></label>
          <input class="form-control numeric decimal optional bid-points" type="number" step="any" name="bid[<%= role %>_points]" id="<%= role %>_bid_points" data-position="<%= role %>">
        </div>

        <button type="button" class="button-to-click btn btn-small-blue3" data-dismiss="modal">Create Bid</button>
      </div>
    </div>
  </div>
</div>


<!-- onclick="document.validateForm2()"
 -->
