<div class="round_container shadow-sm pb-3 rounded">
  <div class="p-2 py-3 d-flex justify-content-center">
    <div class="round_counter shadow-sm">
      DAY 4
    </div>
  </div>

  <div class="round_week">
    <% if @teams.first.weekly_scores.first %>
      <%= @teams.first.weekly_scores.first.created_at.to_date %>
    <% end %>
  </div>

  <% @games.each do |game| %>
  <div class="round_teams">
    <div class="d-flex justify-content-between align-items-center pt-3">
        <div>
          <%#= image_tag game.first.image_url, class: "avatar-large", alt: "avatar-large" %>
          <%= cl_image_tag url_for(game.first.photo), class: "team-avatar-large" %>
        </div>
        <div>
          <%= game.first.weekly_scores.first.score.round %>
        </div>
        <div> - </div>
        <div>
          <%= game.last.weekly_scores.first.score.round %>
        </div>
        <div>
          <%#= image_tag game.last.image_url, class: "avatar-large", alt: "avatar-large" %>
          <%= cl_image_tag url_for(game.last.photo), class: "team-avatar-large" %>
        </div>
    </div>

    <div class="d-flex", style= "justify-content: space-around">
      <div><%= game.first.name %></div>
      <div><%= game.last.name %></div>
    </div>
  </div>
  <% end %>


<!-- Test Chart -->

<div class="chart-card">
  <div class="donut-chart chart-slim">
    <div class="slice one"></div>
    <div class="slice two"></div>
    <div class="chart-center">
      <span></span>
    </div>
  </div>
</div>

<div class="chart-card">
  <div class="donut-chart chart-fat">
    <div class="slice one"></div>
    <div class="slice two"></div>
    <div class="chart-center">
      <span></span>
    </div>
  </div>
</div>

<div class="chart-card">
  <div class="donut-chart chart-big">
    <div class="slice one"></div>
    <div class="slice two"></div>
    <div class="chart-center">
      <span></span>
    </div>
  </div>
</div>

<%= render "shared/footer" %>

