<div>
  <%= render 'shared/dashboard_tabs' %>
</div>

<div>
  <%= image_tag "lolmap", class:"map" %>
  <%= image_tag "buttonplayer", id:"button1"%>
  <%= image_tag "buttonplayer", id:"button2"%>
  <%= image_tag "buttonplayer", id:"button3"%>
  <%= image_tag "buttonplayer", id:"button4"%>
  <%= image_tag "buttonplayer", id:"button5"%>
  <%= image_tag "buttonplayer", id:"button6"%>
</div>

<div class="full-width">
  <div class="budget">
    <div id="rest">
      <h4> Rest of budget </h4>
      <p> 300 000 PI </p> <!-- à animer -->
    </div>

    <div>
      <%= link_to "Done", "#", class: "btn btn-success-budget" %>
<!--       <input type="submit" value="Create Bid" form='new_bid'> -->
    </div>

    <div id="ongoing">
      <h4> Round bet </h4>
      <p> 40 000 PI </p>
    </div>
  </div>
</div>

