<div>
  <%= image_tag "lolmap", class:"map" %>
  <%= image_tag "buttonplayer", class:"button1"%>
  <%= image_tag "buttonplayer", class:"button2"%>
  <%= image_tag "buttonplayer", class:"button3"%>
  <%= image_tag "buttonplayer", class:"button4"%>
  <%= image_tag "buttonplayer", class:"button5"%>
  <%= image_tag "buttonplayer", class:"button6"%>
</div>
