<%= render 'modal_create_league', league: @league %>
<div class="main-container">

    <div class="creation-card">
    <type="button" data-toggle="modal" data-target="#createleagueModal">
      <div class="card-categoryleague" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url(http://all4desktop.com/data_images/original/4237948-league-of-legends.jpg); color:#f0e6d2;">
        <span>Create a League</span>
        <span style="font-size: 30px;">+</span>
      </div>
    </div>

  <% @leagues.each do |league| %>
  <% if league.teams.where(user_id: current_user.id).exists? %>
  <%= link_to team_path(league.teams.where(user_id: current_user.id)) do %>
        <div class="card-categoryleague" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(http://image.jeuxvideo.com/medias-md/153668/1536680478-26-card.jpg)">
          <div class="load">
            <h3><%= league.name %></h3>
          </div>
        </div>
        <% end %>
   <% else %>
  <% if current_user == league.creator %>
    <%= link_to league_path(league) do %>
        <div class="card-categoryleague" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(http://image.jeuxvideo.com/medias-md/153668/1536680478-26-card.jpg)">
          <div class="load">
            <h3><%= league.name %></h3>
          </div>
        </div>
        <% end %>
      <% elsif league.participants.include?(current_user) %>
      <%= link_to new_league_team_path(league) do %>
      <div class="card-categoryleague" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(http://image.jeuxvideo.com/medias-md/153668/1536680478-26-card.jpg)">
          <div class="load">
            <h3><%= league.name %></h3>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>

