<div class="main-container">
  <h1>Your Leagues</h1>
    <% @leagues.each do |league| %>
      <div class="league-card">
        <% if league.creator == current_user || league.participants.include?(current_user) %>
          <h2><%= league.name %></h2>
          <%= link_to ""  %>
        <% end %>
      </div>
    <% end %>

  <%= link_to new_league_path do %>
    <div class="creation-card">
      <h2>Create your League</h2>
        <div class="card-categoryleague" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/1769202/screenshots/5109430/league_of_legends.png)">
        </div>
    </div>
  <% end %>

    <%= link_to new_league_path do %>
    <div class="creation-card">
      <h2>Join your League</h2>
        <div class="card-categoryleague" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/46562/screenshots/5301836/odyssey_kayne.jpg)">
        </div>
    </div>
  <% end %>

    <%= link_to new_league_path do %>
    <div class="creation-card">
      <h2>Load your League</h2>
        <div class="card-categoryleague" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/46562/screenshots/5301836/odyssey_kayne.jpg)">
        </div>
    </div>
  <% end %>

 </div>

