<% unless current_page?(root_path) || current_page?(leagues_path) || current_page?(new_user_session_path) %>
  <div class="footer">
    <ul class="list-inline tabs-underlined">
      <li class="tabs-btn" id="results">
         <% if params[:league_id] %>
          <% if League.find(params[:league_id]).teams.find_by(user: current_user) %>
            <%= link_to "", team_path(League.find(params[:league_id]).teams.find_by(user: current_user)), class: "fas fa-street-view tabs-underlined", 'data-target': "team-tabs" %>
          <% end %>
        <% else %>
          <%= link_to "", "" , class: "fas fa-street-view tabs-underlined active" %>
        <% end %>
      </li>

      <li class="tabs-btn" id="team">
       <% if params[:id] %>
          <%= link_to "", league_teams_path(Team.find(params[:id]).league) , class: "fas fa-list-ol tabs-underlined" %>
        <% else %>
          <%= link_to "", "", class: "fas fa-list-ol tabs-underlined active", 'data-target': "team-tabs" %>
        <% end %>
      </li>

      <li  class="tabs-btn" id="leaderboard">
        <%= link_to "", "" , class: "fas fa-trophy tabs-underlined", 'data-target': ""%>
      </li>
    </ul>
  </div>
<% end %>
