  <div class="footer">
    <ul class="list-inline tabs-underlined">

      <li class="tabs-btn" id="team">
        <% if params[:action] == 'show' %>
          <%= link_to "", "" , class: "fas fa-street-view tabs-underlined active" %>
        <% else %>
          <% if params[:league_id] %>
              <%= link_to "", team_path(League.find(params[:league_id]).teams.find_by(user: current_user)), class: "fas fa-street-view tabs-underlined", 'data-target': "team-tabs" %>
            <% else %>
            <%= link_to "", team_path(League.find(params[:id]).teams.find_by(user: current_user)), class: "fas fa-street-view tabs-underlined", 'data-target': "team-tabs" %>
            <% end %>
        <% end %>
      </li>

      <li class="tabs_btn" id="results">
        <% if params[:action] == 'index' %>
          <%= link_to "", "", class: "fas fa-list-ol tabs-underlined active", 'data-target': "team-tabs" %>
        <% else %>
          <%= link_to "", league_teams_path(Team.find(params[:id]).league) , class: "fas fa-list-ol tabs-underlined" %>
        <% end %>
      </li>

      <li class="tabs-btn" id="leaderboard">
       <% if params[:action] == 'leaderboard' %>
          <%= link_to "", "", class: "fas fa-trophy tabs-underlined active", 'data-target': "team-tabs" %>
       <% else %>
          <% if params[:league_id] %>
            <%= link_to "", leaderboard_league_path(params[:league_id]) , class: "fas fa-trophy tabs-underlined"%>
          <% else %>
            <%= link_to "", leaderboard_league_path(params[:id], params: {league_id: Team.find(params[:id]).league.id}) , class: "fas fa-trophy tabs-underlined" %>
          <% end %>
      <% end %>
      </li>

    </ul>
  </div>
