<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <% if user_signed_in? %>

      <% unless current_page?(root_path) || current_page?(leagues_path) %>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "logomel.png" %>
        <% end %>

      <% else %>
        <%= link_to root_path, class: "navbar-brand-big" do %>
          <%= image_tag "logomel.png" %>
        <% end %>

      <% end %>
      <%= link_to '', destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt" %>

    <% else %>
      <%= link_to root_path, class: "navbar-brand-big" do %>
        <%= image_tag "logomel.png" %>
      <% end %>
      <%= link_to "  Login", new_user_session_path, class: "fas fa-door-open" %>
    <% end %>
</div>
