<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logomel.png" %>
    <% end %>
  </div>


  <div>
    <% if user_signed_in? %>

        <% unless current_page?(root_path) || current_page?(leagues_path) %>
          <ul class="list-inline tabs-underlined">
            <li>
              <%= link_to "", "" , class: "fas fa-street-view tabs-underlined active" %>
            </li>
            <li>
              <%= link_to "", "" , class: "fas fa-list-ol tabs-underlined" %>
            </li>
            <li>
              <%= link_to "", "" , class: "fas fa-trophy tabs-underlined" %>
            </li>
            <li id="logout">
              <%= link_to '', destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt" %>
            </li>
          </ul>
        <% else %>
          <%= link_to '', destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt" %>
        <% end %>

    <% else %>

        <%= link_to "Login", new_user_session_path, class: "nav-link" %>

    <% end %>
  </div>

</div>
