<div class="board-show" style="height:80px;">
</div>
<div style="display: flex; justify-content: center;">

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions" style="text-align: center;">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
</div>
<div style="margin-left: 10px;">

<%= render "devise/shared/links" %>
</div>
